@font-face {
    font-family: Raleway;
    src: url(../Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../Raleway/Raleway-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

body{
    font-family: 'Oswald', sans-serif;
    background: #0A0216;
    padding:0 130px;
    color: white;

}
header {
   display: flex;
   gap: 140px;
   margin-top: 24px;

}
.logo{
   color:white;
   display: flex;
   align-items: center;
   height: 76px;
}

nav {
   flex-grow: 1;
}
.infoMenu {
 display: flex;
 justify-content: space-between;
 align-items: center;

 font-family: 'Raleway';
 font-size: 18px;

 line-height: 125%;
 margin-bottom: 60px;



}

.infoMenu a {
    color:#FFFFFF;
    text-decoration: none;

}

.inputbox{
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    padding: 12px;

    width: 325px;

    display: flex;
    align-items: center;
    gap: 9px;
}

.inputbox img {
   width: 15px;
   height: 15px;
}
.inputbox input {
     border: 0;
     outline: 0;
     background: transparent;
     color:#FFFFFF;
}
a.login {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color:#F50395;
}

.categories{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;

    display: flex;
    justify-content: space-around;
}

.categories a {
    color: #FFFFFF;
    text-decoration: none;
}
.choices{
    font-family: 'Raleway';
    font-weight: 400px;
}





.banner {
    border: 5px solid #FD02D69C;
    margin-top: 78px;
    margin-bottom: 180px;
    padding-left: 140px;
    padding-right: 110px;
    padding-top: 60px;
    padding-bottom: 97px;

    display: flex;
    gap: 75px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap-reverse;

    position: relative;
}
.banner::before {
    content: '';
    display: block;
    width: 70px;
    height: 50px;
    background-color: #0A0216;

    background: linear-gradient(36deg, rgba(10,2,22,1) 0%, rgba(10,2,22,1) 47%, rgba(253,2,214,1) 48%, rgba(253,2,214,1) 52%, rgba(10,2,22,1) 54%, rgba(10,2,22,1) 100%);

    position: absolute;
    bottom: -5px;
    left: -5px;
}
.banner > div {
     flex-basis: 300px;
     flex-grow: 1px;

}


.h1{

    font-weight: 500;
    font-size: 66px;
    line-height: 120%;
    margin: 0;
}
.banner p {
   font-family: 'Raleway';
   font-size: 22px;
   line-height: 150%;
   margin-bottom: 68px;
}


.btn {
    font-family: 'Raleway';
    font-weight: 600px;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;



    display: block;
    width: 400px;
    height: 76px;
    background-image: url('../img/button1.png');
    justify-content:center;
    align-items:center;

}

.jelzey{
    position: absolute;
    flex-grow: 1;
    right: -5px;
    bottom: -5px;
    background-color: #0A0216;

}


.banner > div > img {
    width: 100%;
}



    h2 {
        font-family: "Oswald";
        font-weight: 500;
        font-size: 60px;
        line-height: 89px;
        color: #ffffff;
        margin: 90px 0px;
      }

      .images {
        display: flex;
        justify-content: space-around;
      }

      div .advantages1 {
        position: relative;
      }

      div .advantagesImg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 15px;
      }
      .descriptionAD {
        display: flex;
        justify-content: space-around;
        font-family: "Oswald";
        font-weight: 400;
        font-size: 36px;
        line-height: 125%;
        text-align: center;
        color: #fefefe;
        margin-top: 75px;
      }


      .h2 {
        font-weight: 500;
       font-size: 60px;
       line-height: 89px;

      }

      .Newsgrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .News{
        height: 450px;
        border: 2px solid #FFFFFF;
        background-image:url('../img/news3.png');
        background-repeat:no-repeat;
        background-size:contain;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px 100px 100px;
        grid-template-areas: "i i"
                             "h h"
                             "d b";
        position: relative;                     
      }
      .news h6 {
        grid-area: h;

        font-family:'Raleway ';
        font-weight: 500;
        font-size:26px;
        line-height: 31px;

        margin: 0;
        margin-left: 50px;
        width: 550px;



      }
      .news .date{
        grid-area: d;

        font-family:'Raleway';
        font-size:20px;
        line-height: 29px;

        align-self: center;
        margin-left: 77px;
      }

      .news .date::before{
        content: '';

        display: inline-block;
        width: 10px;
        height: 22px;
        background-image:url('../img/ slashh.png')

      }



 .news .newsButton {
   grid-area: b;
   height: 68px;

   background-image:url('../img/button1.png');
   background-repeat:no-repeat;
   background-size:contain;
    
   text-align: center;

   font-family: 'Raleway';
   font-weight: 600;
   font-size: 26px;
   line-height: 31px;
   padding: 19px 0;

   position: absolute;
   bottom: -38px;
   right: -22px;

 }

 .brends {
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-grow: 0;
}
.brends img {
  object-fit: none;
}

.footer {
  background:#050000;
  padding: 140px 130px 90px;

}

.footermenu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

.h5 {
font-size: 24px;
line-height: 27px;
color:#ff00D7;

}

.footer a {
  background:#050000;
  display: block;
  padding: 140px 130px 90px;
  

}
.footermenu > div {
   

}
.subfooter {

}
 
.footerinfo {

}